.login-box{
    margin-top: 50px;
    width: 420px;
    height: 420px;
    background-color: rgba(0, 0 , 0, 0.74);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    border-radius: 5%;
    padding: 70px 30px;
    
}




 .button{
    text-align: center;
                
    padding: 10px;
    float:left;
    background: white;
    margin: 2px;
    color: black;
    border-radius: 10%;
                
}
            
            
input[type=text]
{
    color: #979797;
    height: 28px;
    padding-left: 10px;
    text-decoration: none;
    background-image: url('http://i.stack.imgur.com/pbpVI.png');
    background-repeat: repeat-x;
    border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/

    border: 0;
}       
            
            
            
.avatar{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(45% - 50px);
                
}

h1{

    margin-top: 60px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 35px;
}

.login-box p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: lightskyblue;
    
}

.login-box input[type=input], [type=password]{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    /*width: 300px;*/
}



/*input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

