  
/* ------------------------main tags --------------------------------------*/
            body{
                
                margin: 0;
               background: url('../img/lingo.png') fixed no-repeat ;;
               -webkit-background-size: cover;
               -moz-background-size: cover;
               -o-background-size: cover;
               background-size: cover;
            }
            h1{
               text-align: center;
               font-size: 50px;
               margin: 5px;
               color: black;
            }
            
            .main{
               margin-top: 100px;
            }
            .main-wrapper{
                    margin: 0px;

/*    
    text-align: center ;
    font-size: 30px;
*/    font-family: geneva, arial, "Times new roman";/*
    padding: 30px;
    float: right;
    position: fixed;*/

    
            }
            
            
            
            
/* ------------------------------------------------------------------*/  



.nav-login{
    width: 400px;
    height: 200px;
    box-sizing: inline;
    background-color: rgba(0, 0 , 0, 0.74);
    border-radius: 5px;
    color: white;
    margin: auto;
}



.nav-login, .loginInput{
    margin-top: 100px;
    /*float: left;*/
    /*box-sizing: border-box;*/
}
            
            #speelveld{
               width: 800px;
               height: 500px;
               box-sizing: inline;
               background-color: rgba(0, 0 , 0, 0.74);
               border-radius: 5px;
               color: white;
               margin: auto;
            }
            
            table{
               margin: auto;
               
        
            }
            
            #table .input{
               margin-top: 100px;

            }
            
            .button{
               text-align: center;
                
               padding: 10px;
               float:left;
               background: white;
               margin: 2px;
               color: black;
               border-radius: 10%;
                
            }
            input{
               font-size: 17px;
                
            }
            #signup, #inlog{
/*               margin-bottom:75px;*/
            }     
            
           .navy{
               background-color: dodgerblue;
               width: 55px;
               height: 55px;
               border-radius: 10%;
                
            }
            
            #speelveld table {
               background-color: white;
               display: box;
               margin-top: 70px;
               
            }
            
            .letters{
               background-color: purple;
               width: 50px;
               height: 50px;
               border-radius: 80%;
            }
            
            .alfa{
               margin: 0px;
               width:100%; 
               height:100%;
               text-align: center;
               font-size: 40px;
               font-style: verdana;
               color: yellow;
               background-color: Transparent;
               background-repeat:no-repeat;
               border: none;
               cursor:pointer;
               overflow: hidden; 
            }
         
   
            
            
/*-----------------------menu bar---------------------------- */

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
    
}

li {
    float: left;
    
}

li a {
    
    display: block;
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000 ;
}

.active {
    background-color: #000000;
}